footer {
    background-color: $skyblue;
    padding: 50px 0 0;
    h2 {
        font-size: 50px;
        color: $whiteColor;
        font-weight: 900;
        letter-spacing: -0.025em;
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        position: relative;
        margin-bottom: 39px;

        &:after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 85px;
            height: 9px;
            background-color: $whiteColor;
        }

    }
    .footerInner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;



        .footerLeft {
            max-width: 660px;
            width: 100%;

            .form-control {
                @include border-radius(4px);
                border-color: #1c6da0;
                font-size: 13px;
                font-weight: 300;
                height: 40px;

                &:focus {
                    border-color: $greenColor;
                }

                &.textareaField {
                    resize: none;
                    height: 100px;
                }
            }
            .buttonOutr {
                display: inline-block;
                width: 100%;

                .submitBtn {
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 24px;
                    font-weight: 900;
                    background-color: $footerBg;
                    cursor: pointer;
                    box-shadow: none;
                    line-height: 2;
                    @include border-radius(8px);
                    padding: 0 30px;

                    &:hover,
                    &:focus {
                        background-color: $greenColor;
                    }

                }
            }
        }

        .footerRight {
            max-width: 394px;
            width: 100%;

            ul {
                &.adressBx {
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-bottom: 10px;
                        color: $whiteColor;

                        span {
                            @include circle(58px);
                            background-color: $whiteColor;
                            display: inline-block;
                            margin-right: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .fa {
                                color: $skyblue;
                                font-size: 24px;
                            }
                        }

                        p {
                            color: $whiteColor;
                            font-size: 17px;
                            font-weight: 500;
                        }
                        a {
                            color: $whiteColor;

                            &.tel {
                                font-weight: 900;
                                font-size: 22px;
                            }
                            &:hover {
                                color: $greenColor;
                            }
                        }
                    }
                }
                &.smBx {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    li {
                        margin-right: 20px;
                        display: inline-block;
                        a {
                            @include circle(58px);
                            background-color: $whiteColor;
                             color: $skyblue;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .fa {
                               
                                font-size: 24px;
                            }

                            &:hover {
                                background-color: $greenColor;
                                  color: $whiteColor;
                            }
                        }
                    }
                }
            }
        }

    }
    .copyrightCon {
        margin-top: 50px;
        background-color: $footerBg;
        text-align: center;
        padding: 27px 0;

        p {
            font-size: 15px;
            color: $whiteColor;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}
