header {
    .header-top {
        background-color: $headerTopBg;
        padding: 6px 0;

        a {
            color: $whiteColor;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            display: flex;
            align-items: center;

            &:hover {
                color: $blackColor;
            }

            .fa {
                margin-right: 6px;
                margin-top: -1px;
                font-size: 20px
            }
        }
    }
    .headerBottm {
        padding: 10px 0;
        @include background(center center, cover);

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .haederMiddleText {
                max-width: 424px;
                width: 100%;
                h1 {
                    color: $blackColor;
                    font-size: 24px;
                    font-weight: 700;
                    text-transform: uppercase;

                    span {
                        display: flex;
                        justify-content: flex-end;
                        color: $skyblue;
                    }
                }
            }
            .headerCont {
                display: flex;
                flex-direction: column;

                a {
                    &.header-btn {
                        padding: 0 10px;
                        font-size: 18px;
                        line-height: 2;
                        color: $whiteColor;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: -0.020em;
                        @include btn_effect;

                        &.tel-btn {
                            background-color: $skyblue;
                            margin-bottom: 5px;
                            letter-spacing: -0.010em;

                            .fa {
                                position: relative;
                                left: -4px;
                            }
                        }

                        &.quote-btn {
                            background-color: $greenColor;
                        }
                    }
                }
            }
        }
    }
}
