@mixin transition($transition...) {
    -ms-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transform($transforms...) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin pop_transform($transforms...) {
    -moz-transform: $transforms !important;
    -o-transform: $transforms !important;
    -ms-transform: $transforms !important;
    -webkit-transform: $transforms !important;
    transform: $transforms !important;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin circle($width) {
    width:$width;
    height:$width;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}
@mixin btn_effect {
    position: relative;
    overflow: hidden;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 3px;
        box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.8);
        background-color: rgba(255, 255, 255, 0.5);
        @include transition(all ease-in-out 0.5s);
        @include transform(skew(40deg));
    }

    &:before {
        left: -40px;
    }
    &:after {
        left: -100px;
    }
    &:hover {
        &:before,
        &:after {
            left: 130%;
        }

    }
}




@mixin yellow_btn {
    background-color: $yellowColor;
    font-size: 18px;
    color: $whiteColor;
    text-transform: uppercase;
    letter-spacing: 0.020em;
    display: inline-block;
    font-family: $dinCond;
}

@mixin green_btn {
    background-color: $greenColor;
    font-size: 18px;
    color: $whiteColor;
    text-transform: uppercase;
    letter-spacing: 0.050em;
    display: inline-block;
    line-height: 3.4;
}

@mixin background($background-position, $background-size) {
    background-repeat: no-repeat;
    background-position: $background-position;
    background-size: $background-size;
}

@mixin overlay($background-color)
{
    background-color: $background-color;
    height: 100%;
    width: 100%;
}

@mixin media($point) {

    @if $point==exlarge {
        @media only screen and (min-width: 1500px) {
            @content;
        }
    }

    @if $point==normal {
        @media only screen and (max-width: 1499px) {
            @content;
        }
    }

    @if $point==iPadLand {
        @media only screen and (max-width: 1199px) {
            @content;
        }
    }
    @else if $point==iPad {
        @media only screen and (max-width: 991px) {
            @content;
        }
    }
    @else if $point==mobile {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }
    @else if $point==mobile-s {
        @media only screen and (max-width: 479px) {
            @content;
        }
    }
    
      @else if $point==mobile-o-land {
        @media (max-width: 767px) and (orientation: landscape){
            @content;
        }
    }
}



/*gradiant mixin*/




@mixin linearGradient($top, $bottom) {
    background: $top;
    /* Old browsers */
    background: -moz-linear-gradient(left, $top 0%, $bottom 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left left, left right, color-stop(0%, $top), color-stop(100%, $bottom));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, $top 0%, $bottom 100%);
    /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(left, $top 0%, $bottom 100%); 
    /* IE10+ */
    background: linear-gradient(to right, $top 0%, $bottom 100%);
    /* W3C */
}


/*animation style*/
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}