@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('../css/bootstrap.min.css');


@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('../fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeue-Regular.woff') format('woff'),
    url('../fonts/BebasNeue-Regular.ttf') format('truetype'),
    url('../fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    font-size: 17px;
    font-family: $robotoFmly;
    color: $primaryColor;
    background-color: #fff;
    line-height: 1;
    padding: 0 !important;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: normal;

    &.customize-support {
        header {
            top: 32px;

            @include media(iPad) {
                & {
                    top: 46px;
                }
            }

            @include media(mobile-s) {
                & {
                    top: 46px;
                }

                &.stick {
                    top: 0;
                }
            }

        }
    }
}

body.modal-open {
    overflow: hidden !important;
}

.modal-open {
    overflow-y: scroll !important;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    color: $primaryColor;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 0.020em;
}

a {
    @include transition(all ease-in-out 0.5s);

}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

figure {
    margin-bottom: 0;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
button[type="button"]:hover,
button[type="button"]:focus {
    outline: 0;
}

.display_table {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.display_cell {
    display: table-cell;
    vertical-align: middle;
}

.wpcf7-response-output {
    padding: 15px !important;
    margin: 0 !important;
    border: 1px solid transparent !important;
    border-radius: 0;
    font-size: 15px;

    @include media(iPadLand) {
        & {
            font-size: 13px;
            padding: 10px !important;
        }
    }
}

.wpcf7-validation-errors,
.wpcf7-acceptance-missing {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.wpcf7-mail-sent-ok {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

input.wpcf7-not-valid {
    border-color: #f00 !important;
}

span.wpcf7-not-valid-tip {
    display: none !important;
}

.modal-backdrop.in {
    opacity: .7;
}


.section {
    padding: 50px 0;

    @include media(iPadLand) {
        & {
            padding: 30px 0;
        }
    }

    @include media(mobile) {
        & {
            padding: 20px 0;
        }
    }
    h2 {
        font-size: 53px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: -0.020em;
    }
}

.btn {
    padding: 0 15px;
    @include border-radius(5px);
    line-height: 2;
    @include btn_effect;
    font-size: 18px;
    color: $whiteColor;
    font-weight: 700;
    letter-spacing: -0.010em;
    text-transform: uppercase;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #a3a3a3;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #a3a3a3;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #a3a3a3;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #a3a3a3;
}

.bannerContainer .container .bannerForm .formBottom .form-control::-webkit-input-placeholder,
input.form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
    color: #a3a3a3;
}

.bannerContainer .container .bannerForm .formBottom .form-control::-moz-placeholder,
input.form-control::-moz-placeholder,
textarea.form-control::-moz-placeholder {
    color: #a3a3a3;
}
.bannerContainer .container .bannerForm .formBottom .form-control:-ms-input-placeholder,
input.form-control:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder {
    color: #a3a3a3;
}

.bannerContainer .container .bannerForm .formBottom .form-control:-moz-placeholder,
input.form-control:-moz-placeholder,
textarea.form-control:-moz-placeholder {
    color: #a3a3a3;
}


