$primaryColor: #4e4e4e;

$greenColor:#5ebd28;

$skyblue:#3287bd;

$sectionGrey:#cecece;

$footerBg:#101010;

$headColor:#414141;

$borderColor:#e7e7e7;

$headerTopBg:#ababab;

$whiteColor:#fff;

$blackColor:#000;

$headColor2:#272626;

$arrowColor:#8d8d8d;

$robotoFmly: 'Roboto', sans-serif;

$babusReglar:'BebasNeue-Regular';