@import 'variable';
@import 'mixin';
@import 'reset';
@import 'header';
@import 'footer';

.bannerContainer {
    @include background(cente center, cover);
    height: 700px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .bannerText {
            max-width: 530px;
            width: 100%;
            @include border-radius(5px);
            padding: 30px 24px;
            background-color: rgba(50, 135, 189, 0.7);
            color: $whiteColor;

            h3 {
                font-size: 20px;
                font-weight: 600;
                line-height: 25px;
                margin-bottom: 23px;
            }

            ul {
                li {
                    font-size: 15px;
                    font-weight: 400;
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 20px;
                    }

                    &:before {
                        content: "\f046";
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-size: 16px;
                        vertical-align: middle;
                        margin-right: 15px;
                    }
                }
            }

            p {
                font-size: 17px;
                line-height: 25px;
                font-weight: 300;
                color: $whiteColor;
            }

        }

        .bannerForm {
            max-width: 388px;
            width: 100%;
 
            .formHead {
                padding: 28px 19px 18px;
                -webkit-border-top-left-radius: 10px;
                -moz-border-top-left-radius: 10px;
                border-top-left-radius: 10px;
                -webkit-border-top-right-radius: 10px;
                -moz-border-top-right-radius: 10px;
                border-top-right-radius: 10px;
                background-color: rgba(50, 135, 189, 0.9);
                color: $whiteColor;
                text-align: center;

                h3 {
                    font-family: $babusReglar;
                    font-size: 36px;
                    letter-spacing: -0.018em;
                    line-height: 1;

                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        font-size: 35px;
                    }
                }
                p {
                    text-transform: uppercase;
                    font-weight: 300;
                    color: $whiteColor;
                    letter-spacing: 0.030em;
                }
            }

            .formBottom {
                padding: 25px 25px;
                background-color: rgba(255, 255, 255, 0.9);
                -webkit-border-bottom-left-radius: 10px;
                -moz-border-bottom-left-radius: 10px;
                border-bottom-left-radius: 10px;
                -webkit-border-bottom-right-radius: 10px;
                -moz-border-bottom-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border: 1px solid #6f6f6f;
                border-top: 0;

                .form-control {
                    @include border-radius(4px);
                    border-color: #6f6f6f;
                    height: 42px;
                    box-shadow: none;
                    font-size: 13px;
                    color: $primaryColor;
                    background-color: transparent;

                    &:focus {
                        border-color: $greenColor;
                    }

                    &.textareaFiled {
                        height: 93px;
                        resize: none;
                    }
                }
                .buttonOutr {
                    display: inline-block;
                    width: 100%;
                    margin: 10px 0 5px;
                    .submitBtn {
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 28px;
                        font-weight: 900;
                        width: 100%;
                        background-color: rgba(94, 189, 40, 0.87);
                        cursor: pointer;
                        box-shadow: none;

                        &:hover,
                        &:focus {
                            background-color: $skyblue;
                        }

                    }
                }
            }
        }
    }
}

/*****************service sectin***************/

.serviceContainer {
    background-color: $greenColor;
    padding: 40px 0;

    .secHead {
        padding: 0 39px;
        text-align: center;

        h2 {
            font-weight: 900;
            color: $whiteColor;
            font-size: 46px;
            line-height: 1;
            letter-spacing: -0.015px;
            text-transform: uppercase;
        }

    }
    .serviceBx {

        margin-top: 35px;

        ul {
            display: flex;
            align-items: flex-start;
            align-content: center;
            justify-content: space-around;

            li {
                text-align: center;
                max-width: 20%;
                padding: 0 28px;


                &:hover {
                    figure {
                        &:before {
                            border: 2px solid $skyblue;
                        }
                    }
                }

                figure {
                    @include circle(142px);
                    background-color: $whiteColor;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    position: relative;
                    box-shadow: 0 0 24px rgba(0, 0, 0, 0.11);
                    margin-bottom: 15px;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 90%;
                        height: 90%;
                        border: 2px solid $greenColor;
                        @include border-radius(100%);
                        @include transition(all ease-in-out 0.5s);
                        top: 7px;
                        left: 7px;
                    }
                }
                h3 {
                    font-size: 15px;
                    font-weight: 400;

                    a {
                        color: $whiteColor;

                        &:hover {
                            color: $blackColor;
                        }
                    }
                }
            }
        }
    }
}

.windowSecCon {
    padding: 100px 0 50px;
    .securityTopBx {
        ul {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            li {
                max-width: 23%;
                width: 100%;
                text-align: center;
                padding-bottom: 20px;
                position: relative;

                .figure_outr {
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        right: 0;
                        top: 0;
                        background-color: #eff6fb;
                        @include transform(translateY(0));
                        @include transition(all ease-in-out 0.5s);
                        border: 2px solid $skyblue;
                        z-index: -1;
                    }

                    .figure_icon {
                        @include circle(87px);
                        background-color: $whiteColor;
                        border: 2px solid $skyblue;
                        @include background(center center, auto);
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: -45px;
                        margin: auto;
                        z-index: 1;
                    }
                    .windowImgBx {
                        height: 204px;
                        @include background(center center, cover);
                        border: 2px solid $skyblue;
                        position: relative;
                        @include transition(all ease-in-out 0.5s);
                    }
                }
                h3 {
                    font-size: 16px;
                    font-weight: 500;
                    color: #272626;
                    margin: 21px 0;
                    position: relative;
                }
                .qutoeBtn {
                    background-color: $greenColor;
                    font-size: 15px;
                    line-height: 2.3;
                    letter-spacing: -0.020em;

                    &:focus,
                    &:hover {
                        color: $whiteColor;
                        background-color: $skyblue;
                        box-shadow: 2px 2px 5px 0 rgba(50, 135, 189, 0.8313725490196079);
                    }
                }
                &:focus,
                &:hover {
                    .figure_outr {
                        &:before {
                            @include transform(translateY(60%));
                        }
                        .figure_icon {
                            @include background(center center, auto);
                        }
                        .windowImgBx {
                            border-bottom: 2px solid transparent;
                        }
                    }
                    .qutoeBtn {
                        color: $whiteColor;
                        background-color: $skyblue;
                        box-shadow: 2px 2px 5px 0 rgba(50, 135, 189, 0.8313725490196079);
                    }
                }
            }
        }
    }

    .windowBottom {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 30px;

        .windowContent {
            max-width: 740px;
            width: 100%;

            h3 {
                font-size: 30px;
                font-weight: 900;
                color: $headColor2;
                line-height: 1.2;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            p {
                line-height: 23px;
                font-size: 14px;
                margin-bottom: 12px;
            }
        }

        .windowform {
            max-width: 318px;
            width: 100%;
            text-align: center;
            padding: 25px 23px 22px;
            @include border-radius(8px);
            background-color: #302f2f;

            h3 {
                font-weight: 900;
                color: $whiteColor;
                text-transform: uppercase;
                font-size: 26px;
                line-height: 1;
                letter-spacing: -0.030em;
                margin-bottom: 20px;
            }

            .formBx {
                .form-group {
                    margin-bottom: 10px;
                }
                .form-control {
                    background-color: $whiteColor;
                    border-radius: 0;
                    font-size: 13px;
                    font-weight: 300;
                    box-shadow: none;
                    height: 40px;
                    border-color: transparent;

                    &:focus {
                        border-color: $greenColor;
                    }
                }
                .buttonOutr {
                    display: inline-block;
                    width: 100%;
                    margin: 8px 0 5px;

                    .submitBtn {
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 900;
                        width: 100%;
                        background-color: rgba(94, 189, 40, 0.87);
                        cursor: pointer;
                        box-shadow: none;
                        line-height: 2.6;
                        @include border-radius(8px);
                        background-image: url(../images/download-icon.png);
                        background-size: 33px 25px;
                        background-repeat: no-repeat;
                        background-position: 14px 50%;
                        padding-left: 50px;

                        &:hover,
                        &:focus {
                            background-color: $skyblue;
                        }

                    }
                }
            }
        }
    }
}

/************gallery section************/

.galleryCon {
    padding-bottom: 100px;

    .galleryhead {
        background-color: $skyblue;
        padding: 24px 0;
        text-align: center;

        h2 {
            font-size: 56px;
            color: $whiteColor;
            text-transform: uppercase;
            font-weight: 900;
        }
    }
    .gallertContent {
        padding: 50px 0 57px;

        ul {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;

            li {
                max-width: 24%;
                width: 100%;
                margin-bottom: 20px;

                figure {
                    width: 100%;
                    height: 200px;
                    @include background(center center, cover);
                    border: 5px solid $borderColor;
                    @include border-radius(10px);
                    @include transition(all ease-in-out 0.5s);
                }
                a {
                    &:hover {
                        figure {
                            border-color: $skyblue;
                        }
                    }

                }
            }
        }
    }
}

.clientpantnor {
    .owl-carousel {
        .owl-stage {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .owl-item {
            img {
                max-width: 100%;
                width: auto;
            }
        }
        .item {
            border: 2px solid $borderColor;
            height: 160px;
            @include border-radius(10px);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .owl-nav {
            .owl-next,
            .owl-prev {
                @include circle(45px);
                background-color: $arrowColor;
                position: absolute;
                top: 35%;
                font-size: 0;

                &:hover {
                    opacity: 0.7;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    text-align: center;
                    @include transform(translateY(-50%));
                    color: $borderColor;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 30px;
                    margin-top: -2px;
                }

            }
            .owl-next {
                right: -70px;
                &:after {
                    content: "\f105";
                    left: 4px;
                }

            }
            .owl-prev {
                left: -70px;
                &:after {
                    content: "\f104";
                    right: 4px;
                }
            }
        }
    }
}

.clientTestimonal {
    padding: 50px 0;
    background-color: $sectionGrey;
    text-align: center;

    h2 {
        font-size: 40px;
        color: $headColor;
        margin-bottom: 5px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .owl-carousel {


        .item {
            padding: 20px 0 0;
            position: relative;
            p {
                font-style: italic;
                line-height: 1.5;
                font-size: 16px;
                font-weight: 400;
                font-style: italic;

                span {
                    img {
                        display: inline-block;
                        width: auto;
                        opacity: 0.6;
                    }

                    &:first-child {
                        img {
                            margin-top: -20px;
                        }
                    }
                    &:last-child {
                        img {
                            margin-bottom: -10px;
                            margin-left: 10px;
                        }
                    }
                }
            }
            h4 {
                font-size: 18px;
                color: #444;
                font-weight: 400;
                letter-spacing: 0.010em;
                margin-top: 32px;

                &:before,
                &:after {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: 50px;
                    height: 1px;
                    background-color: #444;
                }
                &:before {
                    margin-right: 5px;
                }
                &:after {
                    margin-left: 5px;
                }
            }
        }

        .owl-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;

            .owl-dot {
                @include circle(11px);
                background-color: #737373;
                margin-right: 6px;

                &:last-child {
                    margin-right: 0;
                }
                &:hover,
                &:focus,
                &.active {
                    background-color: #1f1f1f;
                    box-shadow: none;
                }
            }
        }
    }
}
